<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>

<div id="example">
    <to-do-box></to-do-box>
</div>

<script>
    //通过bus来完成兄弟组件间的通信工作
    var bus = new Vue();

    //add按下 发送数据--》触发事件
    Vue.component('to-do-input',{
      methods:{
        handleClick:function () {
          //触发事件并发送数据
          bus.$emit('addEvent',this.myInput);
          this.myInput = "";
        }
      },
      data:function(){
        return {
          myInput:''
        }
      },
      template:`
        <div>
            <h1>待做事项列表</h1>
            <input type="text" v-model="myInput"/>
            <button @click="handleClick">add</button>
        </div>
      `
    })

    Vue.component('to-do-item',{
      props:['itemName','myIndex'],
      methods:{
        handleClick:function () {
            //触发事件 并传值
            this.$emit('deleteEvent',this.myIndex);
          //this.$parent.myList.splice(this.myIndex,1);
        }
      },
      template:`
        <li>
            <button @click="handleClick">delete</button>
            <span>{{itemName}}</span>
        </li>
      `
    })

    //绑定事件---》接收数据
    Vue.component('to-do-list',{
      data:function(){
        return {
          myList:[]
        }
      },
      methods:{
        rcvMsg:function (index) {
          //index是从todoitem传来的下标
          //从数组中删除指定下标的元素
          this.myList.splice(index,1);
        }
      },
      created:function(){
        //绑定事件处理函数
        bus.$on('addEvent', (msg)=>{
          console.log('todolist接收到todoinput传来的数据是'+msg);
          this.myList.push(msg);
        });
      },
      template:`
        <ul>
            <to-do-item
                :key="index"
                :myIndex="index"
                :itemName="tmp"
                @deleteEvent="rcvMsg"
                v-for="(tmp,index) in myList"></to-do-item>
        </ul>
      `
    })

    Vue.component('to-do-box',{
      template:`
        <div>
            <to-do-input></to-do-input>
            <to-do-list></to-do-list>
        </div>
      `
    })


  new Vue({
    el: '#example',
    data: {
      msg: 'Hello VueJS'
    }
  })
</script>

</body>
</html>